{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block superTitre %}Email déjà envoyé | {% endblock %}
{% block titre %}Email déjà envoyé{% endblock %}
{% block description%}Email déjà envoyé.{% endblock %}

{% block fos_user_content %}
<p class="col-xs-12">
	<div class="message-robot">
		<span class="robot robot-erreur"></span>
		<p class="message-content message-erreur">
			{{ 'resetting.password_already_requested'|trans }}
		</p>
	</div>
</p>
{% endblock fos_user_content %}
