{% extends "base.html.twig" %}
{% block superCont %}
	<h1 class="text-center">{% block titre%}{%endblock%}</h1>
	{% block cont %}
		{% block fos_user_content %}{% endblock %}
	{%endblock%}
{% endblock %}