{% extends "ESSABAAnnonceBundle::layout.html.twig" %}

{% block superTitre %}Notifications | {% endblock %}

{% block titre %}Notifications{% endblock %}


{% block cont %}
	{% for notification in notifications %}
		<a href="{{notification.lien}}" class="col-xs-12 {% if notification.vu %} old {% endif %} notification">
			{{notification.contenu}}
		</a>
	{% else %}
		<div class="message-robot">
			<p class="message-content message-alert">Rien de nouveau ici.</a>
			</p>
		</div>
	{% endfor %}
{% endblock %}
