<p>Type de <strong>bien imobiliere</strong> : {{annonce.type}} </p>
<p><span class="bed-gray"></span> {{annonce.meuble}} </p>
<p><span class="tape-measure-gray"></span> Surface : {{annonce.surface}} </p>
<p>Nombre de piece : {{annonce.piece}} </p>