<p><span class="steering-wheel"></span> Marque : {{annonce.marque}} </p>
<p><span class="speedometer"></span> Kilometrage : {{annonce.kilometrage}} </p>
<p>Boite de vitesse : {{annonce.boiteVitesse}} </p>
<p><span class="gas-pump"></span> Carburant : {{annonce.carburant}} </p>