<p><span class="gender-gray"></span> Pour {{annonce.genre}} </p>
<p><span class="trainers-gray"></span> Pointure : {{annonce.pointure}} </p>
<p><span class="color-gray"></span> Couleur : {{annonce.couleur}} </p>