{% extends "ESSABAAnnonceBundle::layout.html.twig" %}

{% block superTitre %}
		Aide |
{% endblock %}

{% block description %}
Page d'aide.
{% endblock %}

{% block titre %}
	Aide
{% endblock %}

{% block cont %}
<div id="contAide">
	<h1 class="col-xs-12">Les annonces</h1>
	<div class="col-xs-12 col-sm-6">
		<h2>Quels type d'annonce ?</h2>
		<p>L'annonce doit être licite, c'est-à-dire permis par la loi. Vous pouvez déposer une offre ou faire une demande.</p>
		<p>Ca peut être par exemple, une vente de jeux vidéo, voiture, moto, vêtement traditionnel (salouva, kishali...), maison... tout ce qui est licite.</p>
	</div>
	<div class="col-xs-12 col-sm-6">
		<h2>Comment mettre une annonce en ligne ?</h2>
		<p>Pour mettre une annonce en ligne. Sur le menu de haut, cliquez sur "Déposer une annonce".</p>
		<p>Ensuite, suivez les étapes suivants : </p>
		<ul>
			<li>Étape 1 : précisez le type d'annonce.</li>
			<li>Étape 2 : sélectionnez la catégorie de votre annonce.</li>
			<li>Étape 3 : saisissez les informations de votre annonce, puis cliquez sur publier.</li>
			<li>et puis c'est tout ;)</li>
		</ul>
	</div>
	<div class="col-xs-12 col-sm-6">
		<h2>Comment modifier une annonce ?</h2>
		<p>Pour modifier une annonce. Suivez les étapes suivants :</p>
		<ul>
			<li>Étape 1 : Allez sur la page de l'annonce (vous pouvez accéder facilement à cette page, en allant sur "mon compte" puis dans "mes annonces", ensuite en cliquant sur l'annonce).</li>
			<li>Étape 2 : Cliquez sur "modifier".</li>
		</ul>
	</div>

	<h1 class="col-xs-12">Vos informations personnelles</h1>
	<div class="col-xs-12 col-sm-6">
		<h2>Droit d'accès et de rectification</h2>
		<p>Vous disposez d'un droit d'accès et de rectification des données communiquées (Loi informatique et libertés du 06/01/1978).</p>
		<h2>Les information publique</h2>
		<p>Vos informations accessible au public sont : votre nom, votre numéro de téléphone (s'il est fourni).</p>
	</div>
	<div class="col-xs-12 col-sm-6">
		<h2>Comment modifier vos informations personnelles ?</h2>
		<p>Dans votre espace personnel (accessible en cliquant sur "Mon compte"). Cliquez sur "Réglage" pour ensuite avoir la possibilité de modifier vos informations personnelles, de changer de mot de passe et de supprimer votre compte.</p>
	</div>
</div>
{% endblock %}