{% extends "ESSABAAnnonceBundle::layout.html.twig" %}

{% block superTitre %}
		Mentions légales |
{% endblock %}

{% block description %}Lire nos mentions legales.{% endblock %}

{% block titre %}
	Mentions légales
{% endblock %}

{% block cont %}
<p>En tant qu'utilisateur du site sougou.ml, vous acceptez sans réserve les présentes conditions générales d'utilisation nommées ci dessous.</p><h3>Conditions générales d'utilisation :</h3>
<p>
1- Le site peut être à tout moment inutilisable pour des raisons de maintenance ou de problèmes techniques.
</p><p>
2- Les conditions générales d'utilisation peuvent être modifiées à tout moment, les utilisateurs sont invités à en prendre connaissance régulièrement. </p>
<p>
3- Notre site se réserve le droit de refuser une annonce pour tout motif et de supprimer à tout instant une annonce qu'elle aurait déjà validée. </p>
<p>
4- Notre site ne peut en aucun cas être tenue responsable des dommages causés entre utilisateurs ayant fait connaissance sur notre site internet. </p>
<p>
5- L'annonceur est le seul responsable de la diffusion de sa petite annonce. Par conséquent, notre site ne pourra en aucun cas être tenue responsable de la diffusion d'annonces non conforme à la législation Marocaine en vigueur. L'annonceur certifie donc, en déposant une petite annonce, que son annonce est conforme à l'ensemble des dispositions légales et réglementaires en vigueur et qu'elle respecte les droits des tiers.</p>
<p>
6- L'annonceur certifie, en déposant une annonce sur le site internet, qu'il en est l'auteur ou qu'il dispose de tous les droits et autorisations nécessaires. Par conséquent, seuls les utilisateurs pourront être tenus responsable de la diffusion de leur(s) annonce(s) contenant du texte ou des photos ayant fait l'objet d'un copyright dont ils ne seraient pas l'auteur. 
</p><p>
7- En utilisant notre site internet pour la diffusion de vos petites annonces, vous acceptez et vous vous engagez à respecter les règles de diffusion.</p><p>

Toutes les annonces contenant des éléments du texte (mots, des phrases, etc ....), qui sont contraires à la loi ou la réglementation, l'éthique, l'esprit de renforcement dans les nouvelles, ou ils peuvent vexer ou d'offenser les lecteurs seront rejetées par sougou.ml
Nous vous rappelons que la vente d'exemplaires est considéré comme un faux et vous pouvez être condamné à une amende.
Les annonces doivent être rédigées en français. Si un mot étranger ne peut pas trouver l'équivalent dans la langue française, il doit être précis et limités pour ne pas induire en erreur les utilisateurs du site.
L'image doit être un produit que vous offrez et ne doit contenir aucun blasphème qui ne sont pas conformes aux lois et règlements
</p>
{% endblock %}